<li>
  <pre class="bg-yellow-50 font-thin font-mono text-xs text-yellow-600 whitespace-normal">
    <code data-testid="stat-id">
      ID: <%= stat.id %>
    </code>
    <code data-testid="created-at">
      CREATED AT: <%= stat.created_at %>
    </code>
    <code data-testid="remote-addr">
      REMOTE ADDR: <%= JSON.parse(stat.request)["REMOTE_ADDR"] %>
    </code>
    <code data-testid="server-name">
      SERVER NAME: <%= JSON.parse(stat.request)["SERVER_NAME"] %>
    </code>
    <code data-testid="accept-language">
      ACCEPT LANGUAGE: <%= JSON.parse(stat.request)["HTTP_ACCEPT_LANGUAGE"]&.split(",")&.first %>
    </code>
    <code data-testid="user-agent">
      USER AGENT: <%= JSON.parse(stat.request)["HTTP_USER_AGENT"]&.split(" ")&.first %>
    </code>
  </pre>
</li>
