<p>
  <strong>Short:</strong>
  <%= link_to(
    @url.id,
    redirect_path(@url),
    data: {
      testid: "short-url"
    }
   ) %>
</p>
<p>
  <strong>Long:</strong>
  <%= @url.long %>
</p>
<p>
  <strong>Stats:</strong>
  <ul>
    <%= render partial: "stat", collection: @url.stats %>
  </ul>
</p>

<%= link_to(
  'Edit',
  edit_url_path(@url),
  class: "text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
) %> |
<%= link_to(
  'Back',
  urls_path,
  class: "text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
) %>
