<!DOCTYPE html>
<html>
  <head>
    <title>RailsShortsDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="min-h-screen m-0 flex flex-col">
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "layouts/alerts" %>
    <main class="min-h-full flex-1 container m-auto">
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
